.card {
    background-color: rgb(154, 157, 160);
    margin: 4px 4px;
    padding: 4px 8px;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 4px;
    width: 140px;
    font-size: 0.5em;
    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(99, 91, 91),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    ;
}

.card img {
    width: 140px;
}

.link {
    text-decoration: none;
    color: rgb(17, 15, 15);
}

.info {
    text-align: center;
    overflow: hidden;
}

.info img {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    transition: scale 400ms;
}

.info:hover img {
    scale: 120%;
}