.detail{
    display: flex;
    justify-content: center;
}

.detail img {
    width: 140px;
}

.info{
    background-color: #E8E9EB;
    margin: 80px 4px;
    padding: 4px 8px;
    border-radius: 4px;
    width: 340px;
    font-size: 0.7em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    text-align: center;
    overflow: hidden;
}



